[redPrimary]{
    color: var(--primary);
}

[redSecondary]{
    color: var(--secondary);
}

[redBlack]{
    color: var(--black);
}
[redBlack2]{
    color: var(--black2);
}

[redWhite]{
    color: var(--white);
}

[darkGrey10] {
  color: var(--darkGrey10);
}



[redGrey20]{
    color: var(--grey20);
}
[redGray10] {
  color: var(--gray10);
}
[redGrey3]{
    color: var(--grey3);
}

[redGrey5]{
    color: var(--grey5);
}


[redBlue2]{
    color: var(--blue2);
}

[redBlue60]{
    color: var(--blue60);
}


.redSuccess{
    color: var(--success);
}

.redBgSuccess{
    background-color: var(--success);
}

.redWarning{
    color: var(--warning);
}

.redSecondary{
    color: var(--secondary);
}