.chip-substatus{
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
    max-width: 7rem;
    width: 100%;
    font-size: 0.75rem;
    border-radius: 0.625rem;
    p{
        margin-bottom: 0;
        text-align: center;
    }
}