.popOverActions{
    
    .ant-popover-inner-content{
        padding: 0;
    }

    .ant-popover-placement-top .ant-popover-arrow{
        display: none;
    }   
    
    .ant-popover-inner{
        border-radius: 0.5rem;
    }    

}

.popover-content-list{

    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    width: 12.75rem;

    .item-list{
        cursor: pointer;
        padding: 0.875rem 1.25rem 0.875rem 1.25rem;
        height: 3rem;
        color: var(--primary);
        p{
            margin-bottom: 0;
            font-size: 1rem;
        }
    }
}