<form [formGroup]="form" >
    <ng-container #container></ng-container>

    <div class="w-100 d-flex justify-content-center align-items-center mt-12" (click)="handleSubmit()">
        <app-button d-contents background="primary" type="solid" shape="round" size="medium">
            <strong class="px-3">Continuar</strong>
        </app-button>
    </div>
    
</form>    
<!--<div class="container py-8">
    <app-info-laboral></app-info-laboral>
</div>

<div class="container py-8">
    <app-info-financiera></app-info-financiera>
</div>

<div class="w-100 d-flex justify-content-center align-items-center mt-12">
    <app-button d-contents background="primary" type="solid" shape="round" size="medium">
        <strong class="px-3">Continuar</strong>
    </app-button>
</div>
-->